/* Add this to your CSS file */
.half-globe {
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden; /* Hides the part of the globe outside this container */
  width: 100%;
}

.half-globe .globe-container {
  height: 200%; /* Ensures the globe fits well within its container */
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}