/* Add this to your CSS file */
.half-globe {
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden; /* Hides the part of the globe outside this container */
  width: 100%;
}

.half-globe .globe-container {
  height: 200%; /* Ensures the globe fits well within its container */
}

@media only screen and (max-width: 1053px) {
  .half-globe{
      height: 70vh;
  }

}


@media only screen and (max-width: 803px) {
  .half-globe{
      height: 50vh;
  }

}

@media only screen and (max-width: 603px) {
  .half-globe{
      height: 45vh;
  }

}


@media only screen and (max-width: 960px) {
  #pInHome{
   font-size: 30px;
  }
}

@media only screen and (max-width: 760px) {
  #pInHome{
   font-size: 20px;
  }
}

@media only screen and (max-width: 560px) {
  #pInHome{
   font-size: 16px;
  }
}

@media only screen and (max-width: 560px) {
  #pInHome{
   letter-spacing: -1px;
  }
}